<div class="row justify-content-center align-content-center" style="height: 91.5vh;">
    <div class="col-lg-8">
        <div class="card">
            <div class="card-header text-white fw-bold h3" style="background-color: #17202e;">
                CPU
            </div>
            <div class="card-body justify-content-center" style="background-color: #1e293b;">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-white text-center" style="background-color: #243147;">
                        <p class="text-secondary fw-bold">CPU LIBRE %</p>
                        <p class="h4 fw-bold">{{cpulibre.toFixed(4)}}</p>
                    </div>
                    <div class="col-lg-5 text-white text-center" style="background-color: #243147;">
                        <p class="text-secondary fw-bold">CPU USADO %</p>
                        <p class="h4 fw-bold">{{cpuuse.toFixed(4)}}</p>
                    </div>
                    <div class="col-12"></div>
                    <div class="col-lg-10">
                        <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                    </div>
                </div>
            </div>
            <div class="card-footer" style="background-color: #17202e;">

            </div>
        </div>
    </div>
</div>