/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card {
    border: 0;
}

.scroll {
    max-height: 80vh;
    overflow-y: auto;
}

.scroll2 {
    max-height: 60vh;
    overflow-y: auto;
}