.nav-link.active {
    background-color: #17202e;
    color: white;
    font-weight: bold;
}

.nav-link {
    color: rgb(148, 140, 140);
}

table {
    width: 100%;
    color: white;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}